---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


Teaching
======
* Full Courses
  * Understanding and Training Language Models with Applications in Sentiment Analysis (2024)

* Exercise Classes
  * Statistics (2021 - present)
  * Econometrics (2024 - present)
  * Mathematics (2023)
 
* Teaching Assistance
  * Advanced Mathematics and Statistics (2022 - present)
  * Financial Volatility (2022 - present)
  * Introduction to Time Series Modelling (2021 - present)
 
* Workshops / Lectures
  * MiQEF/MEcon: Introduction to Programming with R  
